<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://billboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-007.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>billboard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$billboard</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Billboard" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:bx6ihwe0cr.database.windows.net,1433;Initial Catalog=Billboard;Integrated Security=False;User ID=beaker@bx6ihwe0cr;Password=rMN)5kts2;Connect Timeout=30;Encrypt=True" Name="Server=tcp:bx6ihwe0cr.database.windows.net,1433;Database=Billboard;User ID=beaker@bx6ihwe0cr;Password=rMN)5kts2;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Billboard.Models.Persistence.UnitOfWork, Billboard.Models.Persistence" MigrationConfiguration="Billboard.Models.Persistence.Migrations.Configuration, Billboard.Models.Persistence" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Billboard-Web.config Connection String">
      <ParameterValue>Server=tcp:bx6ihwe0cr.database.windows.net,1433;Database=Billboard;User ID=beaker@bx6ihwe0cr;Password=rMN)5kts2;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>