$background-color: #000;
$text-color: #ccc;

$primary-color: #0c5da5;
$primary-dark-color: #043a6b;
$primary-light-color: #679fd2;

$secondary-color: #ff9500;
$secondary-dark-color: #a66100;
$secondary-light-color: #ffc573;

$theme-lime-color: #a4c400;
$theme-green-color: #60a917;
$theme-emerald-color: #008a00;
$theme-teal-color: #00aba9;
$theme-cyan-color: #1ba1e2;
$theme-cobalt-color: #0050ef;
$theme-indigo-color: #6a00ff;
$theme-violet-color: #aa00ff;
$theme-pink-color: #f472d0;
$theme-magenta-color: #d80073;
$theme-crimson-color: #a20025;
$theme-red-color: #e51400;
$theme-orange-color: #fa6800;
$theme-amber-color: #f0a30a;
$theme-yellow-color: #e3c800;
$theme-brown-color: #825a2c;
