@-ms-viewport {
  width: device-width; }

body {
  background: #000;
  color: #ccc;
  font: normal 12pt Segoe UI;
  padding: 0;
  margin: 0;
  cursor: default; }

h1 {
  font-size: 50px;
  font-family: Segoe UI Light; }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 22px; } }

h2 {
  font-size: 45px;
  font-family: Segoe UI Light; }
  @media only screen and (max-width: 480px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 40px;
  font-family: Segoe UI Light; }
  @media only screen and (max-width: 480px) {
    h3 {
      font-size: 18px; } }

h4 {
  font-size: 35px;
  font-family: Segoe UI Light; }
  @media only screen and (max-width: 480px) {
    h4 {
      font-size: 16px; } }

h5 {
  font-size: 30px;
  font-family: Segoe UI Light; }
  @media only screen and (max-width: 480px) {
    h5 {
      font-size: 14px; } }

h6 {
  font-size: 25px;
  font-family: Segoe UI Light; }
  @media only screen and (max-width: 480px) {
    h6 {
      font-size: 12px; } }

nav {
  position: absolute;
  display: inline-block;
  left: 120px;
  top: 0px;
  height: 100px;
  overflow: visible;
  right: 0px; }
  @media only screen and (max-width: 480px) {
    nav {
      left: 20px; } }
  nav h1 {
    line-height: 75px;
    position: absolute; }
    @media only screen and (max-width: 480px) {
      nav h1 {
        line-height: 0px; } }
  nav .local {
    position: absolute;
    right: 120px;
    top: 60px;
    padding-left: 20px;
    padding-bottom: 20px;
    background: #000; }
    @media only screen and (max-width: 480px) {
      nav .local {
        right: 20px;
        top: 20px; } }
  nav .back-button {
    position: absolute;
    display: inline-block;
    left: -80px;
    bottom: 0px; }
    @media only screen and (max-width: 480px) {
      nav .back-button {
        display: none; } }

.body-outer {
  position: absolute;
  left: 0px;
  top: 140px;
  right: 0px;
  bottom: 0px;
  overflow: auto; }
  @media only screen and (max-width: 480px) {
    .body-outer {
      top: 100px; } }

.body-scroll-guide {
  position: absolute;
  top: 0px;
  left: 120px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; }
  @media only screen and (max-width: 480px) {
    .body-scroll-guide {
      left: 20px; } }

.body-content {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-bottom: 60px;
  overflow: hidden;
  right: 120px; }
  @media only screen and (max-width: 480px) {
    .body-content {
      margin-bottom: 20px;
      right: 20px; } }

@-moz-keyframes dropTile {
  0% {
    opacity: 0;
    -moz-transform: scale(2.5); }

  100% {
    opacity: 1;
    -moz-transform: scale(1); } }

@-webkit-keyframes dropTile {
  0% {
    opacity: 0;
    -webkit-transform: scale(2.5); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }

@keyframes dropTile {
  0% {
    opacity: 0;
    transform: scale(2.5); }

  100% {
    opacity: 1;
    transform: scale(1); } }

.grid {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .grid .tileColor0 {
    background-color: #a4c400; }
  .grid .tileColor1 {
    background-color: #60a917; }
  .grid .tileColor2 {
    background-color: #008a00; }
  .grid .tileColor3 {
    background-color: #00aba9; }
  .grid .tileColor4 {
    background-color: #1ba1e2; }
  .grid .tileColor5 {
    background-color: #0050ef; }
  .grid .tileColor6 {
    background-color: #6a00ff; }
  .grid .tileColor7 {
    background-color: #aa00ff; }
  .grid .tileColor8 {
    background-color: #f472d0; }
  .grid .tileColor9 {
    background-color: #d80073; }
  .grid .tileColor10 {
    background-color: #a20025; }
  .grid .tileColor11 {
    background-color: #e51400; }
  .grid .tileColor12 {
    background-color: #fa6800; }
  .grid .tileColor13 {
    background-color: #f0a30a; }
  .grid .tileColor14 {
    background-color: #e3c800; }
  .grid .tileColor15 {
    background-color: #825a2c; }
  .grid .tile {
    position: relative;
    width: 120px;
    height: 120px;
    float: left;
    margin: 2px;
    border: solid 3px #000;
    color: #000;
    -webkit-animation: dropTile 0.5s ease;
    -moz-animation: dropTile 0.5s ease;
    animation: dropTile 0.5s ease;
    -webkit-transition: border-color 0.3s ease, width 0.3s ease;
    -moz-transition: border-color 0.3s ease, width 0.3s ease;
    transition: border-color 0.3s ease, width 0.3s ease;
    overflow: hidden; }
    @media only screen and (max-width: 480px) {
      .grid .tile {
        width: 80px;
        height: 80px; } }
    .grid .tile:hover {
      border-color: #043a6b;
      -webkit-transition: border-color 0.3s ease;
      -moz-transition: border-color 0.3s ease;
      transition: border-color 0.3s ease; }
    .grid .tile .title {
      position: absolute;
      font-size: 17.14286px;
      height: 27.5px;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      left: 10px;
      bottom: 0px; }
      @media only screen and (max-width: 480px) {
        .grid .tile .title {
          font-size: 11.42857px; } }
    .grid .tile .count {
      position: absolute;
      font-size: 48px;
      height: 73.33333px;
      top: 0px;
      right: 10px; }
      @media only screen and (max-width: 480px) {
        .grid .tile .count {
          font-size: 32px; } }
    .grid .tile .text {
      position: absolute;
      font-size: 17.14286px;
      left: 10px;
      right: 10px;
      top: 5px;
      bottom: 5px; }
      @media only screen and (max-width: 480px) {
        .grid .tile .text {
          font-size: 11.42857px; } }
    .grid .tile .price {
      position: absolute;
      font-size: 40px;
      bottom: 0px;
      right: 10px; }
      @media only screen and (max-width: 480px) {
        .grid .tile .price {
          font-size: 26.66667px; } }

ul.layout {
  list-style: none inside none;
  padding: 0px;
  width: 100%; }
  ul.layout li {
    width: 100%; }

symbol {
  font-family: Segoe UI Symbol; }

error {
  display: block;
  border: solid 2px #d80073;
  background: #6c0039;
  padding: 10px; }

@-moz-keyframes FadeBackIn {
  0% {
    background-color: rgba(204, 204, 204, 0); }

  100% {
    background-color: rgba(204, 204, 204, 0.5); } }

@-webkit-keyframes FadeBackIn {
  0% {
    background-color: rgba(204, 204, 204, 0); }

  100% {
    background-color: rgba(204, 204, 204, 0.5); } }

@keyframes FadeBackIn {
  0% {
    background-color: rgba(204, 204, 204, 0); }

  100% {
    background-color: rgba(204, 204, 204, 0.5); } }

@keyframes FadeBarIn {
  0% {
    background-color: rgba(0, 0, 0, 0); }

  100% {
    background-color: #000; } }

.dialog-back {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none; }
  .dialog-back.visible {
    display: block;
    background-color: rgba(204, 204, 204, 0.5);
    -moz-animation: fadeBackIn 0.2s ease-out;
    -webkit-animation: fadeBackIn 0.2s ease-out;
    animation: fadeBackIn 0.2s ease-out; }
    .dialog-back.visible .dialog-bar-positioner .dialog-bar {
      -moz-animation: fadeBarIn 0.5s ease-out;
      -webkit-animation: fadeBarIn 0.5s ease-out;
      animation: fadeBarIn 0.5s ease-out; }
  .dialog-back .dialog-bar-positioner {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%; }
    .dialog-back .dialog-bar-positioner .dialog-bar {
      display: block;
      position: absolute;
      left: 0px;
      right: 0px;
      top: -50%;
      background: #000;
      padding: 40px;
      padding-left: 120px;
      padding-right: 120px; }
      @media only screen and (max-width: 480px) {
        .dialog-back .dialog-bar-positioner .dialog-bar {
          padding-left: 20px;
          padding-right: 20px; } }

button.circle {
  width: 40px;
  height: 40px;
  border: solid 3px #ccc;
  color: #ccc;
  background: #000;
  border-radius: 20px;
  font-size: 20px;
  overflow: visible;
  margin: 0px;
  padding: 0px;
  -webkit-transition: background 0.2S;
  -moz-transition: background 0.2S;
  transition: background 0.2S; }
  button.circle:hover {
    background: #666666;
    -webkit-transition: background 0.2S;
    -moz-transition: background 0.2S;
    transition: background 0.2S; }
  button.circle :first-child {
    display: inline-block;
    width: 29px;
    height: 29px;
    padding: 2.5px; }

form {
  overflow: visible; }
  form input, form textarea, form button {
    border: solid 2px white;
    background: #000;
    color: #ccc;
    margin: 5px;
    font: normal 12pt Segoe UI; }
  form label {
    display: block;
    padding-left: 5px;
    margin-top: 10px;
    color: #1ba1e2;
    font: normal 12pt Segoe UI; }
    form label:after {
      white-space: pre;
      content: '\a'; }
  form input, form textarea {
    width: 90%;
    padding: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px; }
  form input {
    height: 20px; }
  form textarea {
    min-height: 120px; }
  form button {
    min-width: 100px;
    height: 30px; }
    form button:hover:not([disabled]) {
      background: #666666; }
    form button[disabled] {
      border-color: #666666;
      color: #666666; }
  form .separator {
    margin-top: 40px; }
